<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div>
    {% if "user_name" in session %}
      <form action="/logout" method="post">
        <button type="submit">Logout</button>
      </form>
    {% else %}
      <a href="/register">Register</a>
      <a href="/login">Login</a>
    {% endif %}
    </div>
    {% for msg in get_flashed_messages() %}
      <p class="message">{{ msg }}</p>
    {% endfor %}
  {% block content %}
    <b>This should not be seen</b>
  {% endblock %}
</body>
</html>